/*
$nav_bg: #273648;
$main_bg: #f9f9f9;
$todo_bg: #ffffff;
$navlink_text: #EDF4FC;
$navlin_bg_active: #4A90E2;
$title_text: #30394A;
$todo_text: #666666;
$input_border: #DDDDDD;
$select_item_text: #B5B5B5;
*/

.wrapper{
  display: grid;
  grid-template-columns: repeat(240, 1fr);
  grid-template-rows: 80px 1024px;
}

.header{
  grid-column: span 240;
  background-color: blue;
}

.side-menu{
  grid-column: span 47;
  background-color: red;
}

.content{
  grid-column: span 193;
  background-color: grey;
}
